<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <div layout:fragment="content">
    <h1>Student List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Gender</th>
          <th scope="col">Grade</th>
          <th scope="col">Register Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}">
          <th scope="row" th:text="${dto.id}"></th>
          <td>
            <a th:href="@{/student/read(id=${dto.id})}">[[${dto.name}]]</a>
          </td>
          <td th:text="${dto.addr}"></td>
          <td th:text="${dto.gender}"></td>
          <td th:text="${dto.grade}"></td>
          <td
            th:text="${#temporals.format(dto.createDateTime, 'yyyy-MM-dd HH:mm')}"
          ></td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
