<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <th:block layout:fragment="title">
    <!-- 페이지별 title 태그 작성 -->
    Register
  </th:block>
  <div layout:fragment="content">
    <form action="" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="mb-3">
        <label for="addr" class="form-label">Address</label>
        <input type="text" name="addr" id="addr" />
      </div>
      <div class="mb-3">
        <label for="gender">Gender</label>
        <select
          class="form-select"
          aria-label="Default select example"
          name="gender"
        >
          <option selected>Gender</option>
          <option value="M">Man</option>
          <option value="F">Female</option>
        </select>
      </div>
    </form>
  </div>
</html>
