<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main_layout}">
  <div layout:fragment="content">
    <h1>Read</h1>
    <form action="" method="post" id="form">
      <div class="mb-3">
        <label for="mno" class="form-label">Id</label>
        <input type="text" class="form-control" id="mno" name="mno" readonly />
      </div>
      <div class="mb-3">
        <label for="memo_text" class="form-label">Text</label>
        <textarea
          class="form-control"
          id="memo_text"
          rows="3"
          name="memo_text"
          readonly
        ></textarea>
      </div>
      <a type="button" class="btn btn-outline-success" th:href="@{/memo/list2}"
        >List</a
      >
      <a
        type="button"
        class="btn btn-outline-primary"
        th:href="@{/memo/modify2(mno=${mno})}"
        >Update</a
      >
    </form>
  </div>
  <th:block layout:fragment="script">
    <script>
      //id(mno) 가져오기
      const id = [[${mno}]]
    </script>
    <script th:src="@{/js/read2.js}"></script>
  </th:block>
</html>
