<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title fw-semibold mb-4">Board list</h5>

          <form
            action=""
            method="get"
            class="d-flex align-items-center gap-2"
            id="action-form"
          >
            <input
              type="hidden"
              name="page"
              th:value="${pageRequestDTO.page}"
            />
            <input
              type="hidden"
              name="size"
              th:value="${pageRequestDTO.size}"
            />
            <select name="type" class="form-select" style="width: 120px">
              <option value="" th:seleted="${pageRequestDTO.type == null}">
                Select
              </option>
              <option value="t" th:seleted="${pageRequestDTO.type == 't'}">
                Title
              </option>
              <option value="c" th:seleted="${pageRequestDTO.type == 'c'}">
                Content
              </option>
              <option value="w" th:seleted="${pageRequestDTO.type == 'w'}">
                Writer
              </option>
              <option value="tc" th:seleted="${pageRequestDTO.type == 'tc'}">
                Title+Content
              </option>
              <option value="tcw" th:seleted="${pageRequestDTO.type == 'tcw'}">
                Title+Content+Writer
              </option>
            </select>
            <input
              type="text"
              name="keyword"
              class="form-control"
              style="width: 200px"
              th:value="${pageRequestDTO.keyword}"
            />
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Board Number</th>
              <th scope="col">Title</th>
              <th scope="col">Writer</th>
              <th scope="col">Create Date</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="dto : ${result.dtoList}">
              <th scope="row" th:text="${dto.bno}"></th>
              <td>
                <a
                  th:href="@{/board/read(bno=${dto.bno},page=${result.current},size=${result.pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
                  >[[${dto.title}]]---[<b th:text="${dto.replyCnt}"></b>]</a
                >
              </td>
              <td th:text="${dto.writerName}"></td>
              <td
                th:text="${#temporals.format(dto.createDateTime,'yyyy-MM-dd HH:mm')}"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 페이지 나누기 -->
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${!result.prev}?'disabled'">
            <a
              class="page-link"
              th:href="@{list(page=${result.prevPage},size=${result.pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
              >Previous</a
            >
          </li>

          <li
            th:class="'page-item '+${result.current == page ? 'active':' '}"
            th:each="page : ${result.pageNumList}"
          >
            <a
              class="page-link"
              th:href="@{list(page=${page},size=${result.pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
              aria-current="page"
              >[[${page}]]</a
            >
          </li>

          <li class="page-item" th:classappend="${!result.next}?'disabled'">
            <a
              class="page-link"
              th:href="@{list(page=${result.nextPage},size=${result.pageRequestDTO.size},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword})}"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <th:block layout:fragment="script">
    <!-- 페이지별 javascript 작성 -->
    <script th:inline="javascript">
      let msg = [[${msg}]];
      console.log(msg);
      if (msg) {
          Swal.fire({
            title: msg,
            icon: "success",
            draggable: true,
          });
      }
    </script>
    <script th:src="@{/js/list.js}"></script>
  </th:block>
</html>
