<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Modify</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post" id="form">
              <div class="mb-3">
                <label for="isbn" class="form-label">Isbn</label>
                <input
                  type="text"
                  class="form-control"
                  id="isbn"
                  aria-describedby="isbn"
                  name="isbn"
                  th:value="${dto.isbn}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  name="price"
                  th:value="${dto.price}"
                />
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input
                  type="text"
                  class="form-control"
                  id="author"
                  name="author"
                  th:value="${dto.author}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  rows="3"
                  th:text="${dto.description}"
                ></textarea>
              </div>
              <input type="hidden" name="id" th:value="${dto.id}" />
              <!-- 이하 input:hidden은 modify에서는 포함하지않아도 되나, remove에서는 필요로함 -->
              <input
                type="hidden"
                name="page"
                th:value="${pageRequestDTO.page}"
              />
              <input
                type="hidden"
                name="size"
                th:value="${pageRequestDTO.size}"
              />

              <button type="submit" class="btn btn-primary">Update</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <a
                type="button"
                class="btn btn-success"
                th:href="@{/book/list(page=${pageRequestDTO.page},size=${pageRequestDTO.size})}"
                >List</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <!-- 페이지별 script 작성 영역 -->
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
