<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Modify</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post" id="action-form">
              <div class="mb-3">
                <label for="bno" class="form-label">Board Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="bno"
                  aria-describedby="bno"
                  name="bno"
                  th:value="${dto.bno}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea
                  class="form-control"
                  id="content"
                  name="content"
                  rows="10"
                  th:text="${dto.content}"
                >
                </textarea>
              </div>
              <div class="mb-3">
                <label for="createDateTime" class="form-label"
                  >Create Date</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="createDateTime"
                  name="createDateTime"
                  th:value="${#temporals.format(dto.createDateTime,'yyyy-MM-dd HH:mm')}"
                  disabled
                />
              </div>
              <!-- 이하 input:hidden은 modify에서는 포함하지않아도 되나, remove에서는 필요로함 -->
              <input
                type="hidden"
                name="page"
                th:value="${pageRequestDTO.page}"
              />
              <input
                type="hidden"
                name="size"
                th:value="${pageRequestDTO.size}"
              />

              <button type="submit" class="btn btn-success">Update</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <a
                type="button"
                class="btn btn-primary"
                th:href="@{/board/list(page=${pageRequestDTO.page},size=${pageRequestDTO.size})}"
                >List</a
              >
              <input
                type="hidden"
                name="page"
                th:value="${pageRequestDTO.page}"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <!-- 페이지별 script 작성 영역 -->
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
