<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Board Information</h5>
        <div class="card">
          <div class="card-body">
            <form action="" method="post">
              <div class="mb-3">
                <label for="bno" class="form-label">Board Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="bno"
                  aria-describedby="bno"
                  name="bno"
                  th:value="${dto.bno}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                  th:value="${dto.title}"
                  readonly
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea
                  class="form-control"
                  id="content"
                  name="content"
                  rows="10"
                  th:text="${dto.content}"
                  readonly
                >
                </textarea>
              </div>
              <div class="mb-3">
                <label for="createDateTime" class="form-label"
                  >Create Date</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="createDateTime"
                  name="createDateTime"
                  th:value="${#temporals.format(dto.createDateTime,'yyyy-MM-dd HH:mm')}"
                  readonly
                />
              </div>
              <a
                type="button"
                class="btn btn-success"
                th:if="${dto.writerEmail} == ${#authentication.name}"
                th:href="@{/board/modify(bno=${dto.bno},page=${pageRequestDTO.page},size=${pageRequestDTO.size})}"
                >Update</a
              >
              <a
                type="button"
                class="btn btn-primary"
                th:href="@{/board/list(page=${pageRequestDTO.page},size=${pageRequestDTO.size})}"
                >List</a
              >
              <input
                type="hidden"
                name="page"
                th:value="${pageRequestDTO.page}"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- 댓글 영역 -->
    <div class="card">
      <div class="card-body">
        <form
          th:action="@{/replies/new}"
          method="post"
          id="reply-form"
          sec:authorize="isAuthenticated()"
        >
          <input type="hidden" name="rno" />
          <!-- userの＠ID -->
          <input
            type="hidden"
            name="replyerEmail"
            th:value="${#authentication.name}"
          />
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="replyerName"
              name="replyerName"
              placeholder="writer"
              th:value="${#authentication.principal.name}"
              readonly
            />
          </div>

          <div class="mb-3">
            <textarea
              class="form-control"
              id="text"
              name="text"
              rows="3"
              placeholder="content"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary" name="rbtn">
            Insert Reply
          </button>
        </form>

        <h5 class="card-title fw-semibold my-4">
          <span class="current-replies"></span>
        </h5>
        <div class="reply-list border px-2">
          <!-- <div class="d-flex justify-content-between my-2 border-bottom">
            <div class="p-3">
              <img
                th:src="@{/img/userIcon.png}"
                alt=""
                class="rounded-circle mx-auto d-block"
                style="width: 60px; height: 60px"
              />
            </div>
            <div class="flex-grow-1 align-self-center">
              <div>Writer</div>
              <div>
                <span class="fs-5">Text</span>
              </div>
              <div class="text-muted">
                <span class="small">Reply Date</span>
              </div>
            </div>
            <div class="d-flex flex-column align-self-center">
              <div class="mb-2">
                <button class="btn btn-outline-success btn-sm">Update</button>
              </div>
              <div class="mb-2">
                <button class="btn btn-outline-danger btn-sm">Delete</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      const bno = [[${dto.bno}]];
      let msg = [[${msg}]];
      // reply-form에서 csrf 값 가져오기
      const csrfVal = document.querySelector("#reply-form").querySelector("[name='_csrf']").value;

      if (msg) {
          Swal.fire({
              title: msg,
              icon: "success",
              draggable: true
          });
      }
    </script>
    <script th:src="@{/js/read.js}"></script>
  </th:block>
</html>
